a {
	color: #ffffff;
}

.login-group {
	width: 300px;
	height: 300px;
	position: absolute;
	margin: auto;
	left:0; right:0;
    top:0; bottom:0;

    color: #ffffff;
    text-align: center;

    background-color: rgba(100, 100, 100, .8);
    border-style: solid;
    border-color: #ffffff;
    border-width: medium;
    border-radius: 20%;

    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.login-logo {
	padding-bottom: 10px;
}

.login-input {
	color: #ffffff;
}

.login-elem {
	background: none;
	border-style: solid;
	border-color: #ffffff;
	border-width: thin;
}

.login-btn {
	border-width: medium;
	width: 100px;
	height: 50px;
	margin-bottom: 10px;
}

body {
	background: url('../resources/images/environment_bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}