a {
	color: #fff;
}

.signup-group {
	width: 300px;
	height: 300px;
	position: absolute;
	margin: auto;
	left:0; right:0;
    top:0; bottom:0;

    color: #fff;
    text-align: center;

    background-color: rgba(100, 100, 100, .8);
    border-style: solid;
    border-color: #fff;
    border-width: medium;
    border-radius: 20%;

    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.signup-logo {
	padding-bottom: 10px;
}

.signup-input {
	color: #fff;
}

.signup-elem {
	background: none;
	border-style: solid;
	border-color: #fff;
	border-width: thin;
}

.signup-btn {
	border-width: medium;
	width: 100px;
	height: 50px;
	margin-bottom: 10px;
}
